#image{
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

body{
  background-image:url("cyrille.jpg");
  background-size: cover;
}

#title{
    border:2px solid rgba(255,0,0,1);
    margin:2.5%;
    width:95%;
    color:white;
}

#tribute-info{
    border:2px solid rgba(255,0,0,1);
    margin:2.5%;
    width:95%;
    color:white;
    box-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#img-div{
  border:2px solid rgba(255,0,0,1);
  margin-left: 25%;
  margin-bottom:2.5%;
  margin-right:25%;
  width:50%;
  color:white;
}

.football{
  color:white;
}
